opencloud:
  # enabled: True
  # run_init: True
  # admin_password: ''
  # init_insecure: False
  env:
    KEY: value
    # OPENCLOUD_LOG_LEVEL: info
    # OPENCLOUD_INSECURE: false
  # csp:
  #   path: /etc/opencloud-server/csp.yaml
  #   config:
  #     directives:
  #       connect-src:
  #         - '...'
  # app_registry:
  #   collaboration_app: CollaboraOnline
  #   # path: /etc/opencloud-server/app-registry.yaml
  #   types:
  #     - pdf
  #     - odt
  #     - ods
  #     - odp
  #     - docx
  #     - docxf
  #     - xlsx
  #     - pptx
  #     - ipynb
  #     # override example:
  #     # - extension: custom
  #     #   mime_type: application/x-custom
  #     #   name: Custom Format
  #     #   description: My custom format
  #     #   collaboration: true
